@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/font-awesome-4.7.0/fontawesome-webfont.eot');
	src: url('fonts/font-awesome-4.7.0/fontawesome-webfont.eot') format('embedded-opentype'),
	url('fonts/font-awesome-4.7.0/fontawesome-webfont.woff2') format('woff2'),
	url('fonts/font-awesome-4.7.0/fontawesome-webfont.woff') format('woff'),
	url('fonts/font-awesome-4.7.0/fontawesome-webfont.ttf') format('truetype'),
	url('fonts/font-awesome-4.7.0/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
